<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Fotos</title>
    <link rel="shortcut icon" href="../imagens/favicon-32x32.png " type="image/x-icon">
    <link rel="stylesheet" href="../style/style.css">
    <script src="../scripts/scripts.js" defer></script>
</head>

<body>
    <nav>
        <ul>
            <li><img src="../imagens/icons/logoMVF.jpg" alt=""></li>
            <li><a href="#">HOME</a></li>
            <li><a href="#">CONTATO</a></li>
            <li><a href="#">SOBRE MIM</a></li>
            <li><a href="#">PORTIFOLIO</a></li>
        </ul>
    </nav>
    <header>
        <div class="header">
            <h1>PARANDO o tempo com CLIQUES</h1>
            <p>Parando o tempo com cliques, é um site onde vou mostrar algumas das minhas fotos, e contar um pouco sobre
                a história delas, como foi o momento da captura, composição e até aplicativos de edição.</p>
        </div>
    </header>
    <main>
        <div class="galeria">
            <a href="#">
                <div class="fotoGaleria" id="foto1">
                    <div class="overlay">
                        <h3>Natureza</h3>
                        <p>25 fotos</p>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="fotoGaleria" id="foto2">
                    <div class="overlay">
                        <h3>Urbana</h3>
                        <p>10 fotos</p>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="fotoGaleria" id="foto3">
                    <div class="overlay">
                        <h3>Sombras</h3>
                        <p>21 fotos</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="fotoGaleria" id="foto4">
                    <div class="overlay">
                        <h3>abstratas</h3>
                        <p>10 fotos</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="fotoGaleria" id="foto5">
                    <div class="overlay">
                        <h3>Praia</h3>
                        <p>20 fotos</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="fotoGaleria" id="foto6">
                    <div class="overlay">
                        <h3>Por do Sol</h3>
                        <p>30 fotos</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="fotoGaleria" id="foto7">
                    <div class="overlay">
                        <h3>Longa Exposição</h3>
                        <p>5 fotos</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="fotoGaleria" id="foto8">
                    <div class="overlay">
                        <h3>Noturnas</h3>
                        <p>13 fotos</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="fotoGaleria" id="foto9">
                    <div class="overlay">
                        <h3>Preto e Branco</h3>
                        <p>12 fotos</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="containerBotao"><button class="verMais">VER MAIS</button></div>

    </main>
    <aside>
        <h2>INSTAGRAM</h2>
        <div class="faixaFotos">
            <a href="https://www.instagram.com/p/CJ1Cz4ZJA7K/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
                target="_blank">
                <div class="fotoFaixa" id="fotoFaixa1"></div>
            </a>
            <a href="https://www.instagram.com/p/B9rZoUJhvDs/?utm_source=ig_web_button_share_sheet&igsh=MzRlODBiNWFlZA=="
                target="_blank">
                <div class="fotoFaixa" id="fotoFaixa2"></div>
            </a>
            <a href="https://www.instagram.com/p/CWyIuHTL6Ir/" target="_blank">
                <div class="fotoFaixa" id="fotoFaixa3"></div>
            </a>
            <a href="https://www.instagram.com/p/B6qNKJOp58T/" target="_blank">
                <div class="fotoFaixa" id="fotoFaixa4"></div>
            </a>
            <a href="https://www.instagram.com/p/B6o5k4sptUd/" target="_blank">
                <div class="fotoFaixa" id="fotoFaixa5"></div>
            </a>
            <a href="https://www.instagram.com/p/B_awiLgpamm/" target="_blank">
                <div class="fotoFaixa" id="fotoFaixa6"></div>
            </a>
        </div>
    </aside>
    <footer>
        <div class="footer">
            <p class="footerCopy">©<span id="ano"></span> Marcus310. Todos os direitos reservados.</p>
            <p class="links">Me siga aqui:
                <a href="https://www.instagram.com/marcus__fotos/" target="_blank"><img
                        src="../imagens/icons/icons8-instagram.gif" alt="icone do instagram" class="icon"></a>
                <a href="https://github.com/Marcus310/" target="_blank"><img src="../imagens/icons/icons8-github.gif"
                        alt="icone do github" class="icon"></a>
            </p>
        </div>
    </footer>
</body>

</html>