<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcus Vinicius - Portifolio </title>
    <link rel="stylesheet" href="../styles/stylesMain.css">
    <script src="../scritps/script.js" defer></script>
</head>
<body>
<nav>
  <section class="nav">
    <ul>
      <li class="mpContainer"><a href="#" class="mpLogo">&lt; MP &gt;</a></li>
      <div class="menu">
        <li><a href="#">Sobre mim</a></li>
        <li><a href="#">Projetos</a></li>
        <li><a href="#">Contato</a></li>
      </div>
    </ul>
  </section>
</nav>
    
  <header>
    <section class="apresentacaoPerfil" id="apresentacaoPerfil">
      <p class="ola">Olá, eu sou</p>
      <h1>Marcus Vinicius</h1>
      <p class="dev">Programador Front-end</p>
      <img src="../images/Marcus Perfil.jpg" alt="Minha foto de Perfil" id="marcusPerfil">
    </section>

    <section class="sobreMim" id="sobreMim">
      <h2>Sobre mim</h2>
      <p>Sou Marcus Vinícius, desenvolvedor front-end focado em criar interfaces modernas, responsivas e bem estruturadas, buscando clareza no código, performance e uma ótima experiência para o usuário.</p>
      <h2>Tecnologias utilizadas</h2>
      <p class="tecnologias"><img src="../images/icons/html240px.svg" alt="icone do html"><img src="../images/icons/css240px.svg" alt="icone do css"><img src="../images/icons/javascript240px.svg" alt="icone do javascript"><img src="../images/icons/bootstrap240px.svg" alt="icone do Bootstrap5"><img src="../images/icons/figma240px.svg" alt="icone do figma"><img src="../images/icons/git240px.svg" alt="icone do git"></p>
      <ul class="linksSobreMim">
        <li><a href="https://www.linkedin.com/in/marcus-vin%C3%ADcius310/" target="_blank" rel="noopener">Linkedin</a></li>
        <li><a href="https://github.com/Marcus310" target="_blank" rel="noopener">Github</a></li>
        <li><a href="/images/documents/Marcus Vinicius - Curriculo.pdf" download><button>Baixar Currículo</button></a></li>
      </ul> 
    </section>
  </header>


  <main>
    <h2>Projetos</h2>
    <section class="cardProjetos">
      <h3>JB1</h3>
      <img src="" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias dolorum vero animi fuga neque et odit exercitationem, totam quasi quae! Ipsum consequuntur earum, facilis praesentium mollitia corporis! Sed, quidem vero.</p>
    </section>
    <section class="cardProjetos">
      <h3>MDV-Tech</h3>
      <img src="" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias dolorum vero animi fuga neque et odit exercitationem, totam quasi quae! Ipsum consequuntur earum, facilis praesentium mollitia corporis! Sed, quidem vero.</p>
    </section>
    <section class="cardProjetos">
      <h3>Minhas Fotos</h3>
      <img src="" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias dolorum vero animi fuga neque et odit exercitationem, totam quasi quae! Ipsum consequuntur earum, facilis praesentium mollitia corporis! Sed, quidem vero.</p>
    </section>
  </main>
  <footer>
    <h2>Fale Comigo</h2>
    <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  </footer>
</body>
</html>